    div {  
    margin-top: -30px;  
}  
  
body {  
    background-image: url("./big.jpg");  
    background-size: cover;  
    background-position: center;  
    background-repeat: no-repeat;  
}  
  
a {  
    padding-left: 130px;  
    margin-top: 50px;  
    color: white;  
}  
  

  
h1 {  
    color: white;  
}  
  
.vid {  
    margin-top: 10%;  
    align-items: center;  
    justify-content: center;  
    margin-left: ;  
}  





