body{
  background-image:url("./big.jpg");
  background-size:cover;
  background-position: center;
  background-repeat:no-repeat
}
h1{
  color: white;
}
.vid{
  margin-buttom:10px;
}
.vid p{
  color: white;
  background-color:black;
  border-radius:10px;
}
a{
  background-color: white;
  border-radius:10px;
}













